@model DocumentViewModel;
@{
    ViewData["Title"] = "Index";
}
<div class="col-12 row">
    <div class="col-12">
        <h3 class="text-center">All Document</h3>
    </div>
    <div class="col-12">
        <a class="btn btn-sm btn-success float-right mb-2" href="/DocumentInfo/Document/NewDocument"><i class="fa fa-plus"></i> Add</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Subject</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Keywords</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model.documents)
                {
                    i++;
                    <tr>
                        <th>@i</th>
                        <th>@item.documentName</th>
                        <th>@item.department?.deptName</th>
                        <th>@item.subject</th>
                        <th>@item.documentCategory?.categoryName</th>
                        <th>@item.date?.ToString("dd-MMM-yyyy")</th>
                        <th>@item.documentType</th>
                        <th>@item.keywords</th>
                        <th>
                            <a class="btn btn-sm btn-success" href="#">Details</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
