@using DotNetCore.Services.AuthService.Interfaces;
@using DotNetCore.Services.Employee.Interfaces;
@*@inject IUserInfoes userInfo;*@
@inject IEmployeeService emplyeeService;
@{
    //var emp = await userInfo.GetUserInfoByUserName(User.Identity.Name);
    //var userPhoto = await emplyeeService.GetEmployeePhotographByEmpId(emp.Id);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mannat Themes">
    <meta name="keyword" content="">

    <title>ALPHA | Management</title>

    <!-- Theme icon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- Datatable -->
    <link href="~/plugins/nestable/jquery.nestable.css" rel="stylesheet" />
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/morris-chart/morris.css" rel="stylesheet">
    <!-- Theme Css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/slidebars.min.css" rel="stylesheet">
    <link href="~/css/icons.css" rel="stylesheet">
    <link href="~/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">


    <link href="~/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    @RenderSection("Style", required: false)


</head>
<body class="sticky-header">
    <section>

        <!-- sidebar left start-->
        <div class="sidebar-left">
            <div class="sidebar-left-info">

                <div class="user-box">
                    <div class="d-flex justify-content-center">
                        @*@if (emp.imageUrl == null || emp.imageUrl == "")
                        {
                            <img src="~/images/users/userImage.jpg" alt="" class="img-fluid rounded-circle">
                        }
                        else
                        {
                            <img src="http://103.95.38.230/@emp?.imageUrl" alt="" class="img-fluid rounded-circle">
                        }*@
                    </div>
                    <div class="text-center text-white mt-2">
                        @*<h6>@emp?.empName</h6>
                        <p class="text-muted m-0">@emp?.rankName</p>*@
                    </div>
                </div>

                <!--sidebar nav start-->
                <ul class="side-navigation mt-5">

                    @{
                        var user = User.Identity.Name;
                        if (user == "suza")
                        {
                            <li class="active">
                                <a href="/Home/DashBoard"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                            </li>
                            <li class="">
                                <a href="/Employee/EmployeeInfo/Index">
                                    <i class="mdi mdi-account-settings-variant"></i>
                                    <span>
                                        Profile
                                    </span>
                                </a>

                            </li>
                            <li class="menu-list">
                                <a href="">
                                    <i class="mdi mdi-google-circles-extended"></i> <span>
                                        Settings <span class="badge badge-primary noti-arrow pull-right">6</span>
                                    </span>
                                </a>
                                <ul class="child-list">
                                    <li><a href="~/Employee/UserInfo/UserList">User</a></li>
                                    <li><a href="~/Auth/Account/UserRoleCreate">User Role</a></li>
                                    <li><a href="~/Auth/Account/AssaignRoleToUser">User Role Assign</a></li>
                                    <li><a href="~/Auth/Account/UserRegister">User Registration</a></li>
                                    <li><a href="~/Portfolio/PortfolioDashboard">Portfolio Dashboard</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href=""><i class="mdi mdi-buffer"></i> <span>Master Data</span></a>
                                <ul class="child-list">
                                    <li><a href="/Home/GridMenuPage">Create Master</a></li>
                                    <li><a href="/Home/GridMenuAddressPage">Create Address Info</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href=""><i class="mdi mdi-book-multiple" aria-hidden="true"></i><span>Posting</span></a>
                                <ul class="child-list">
                                    <li><a href="~/Employee/Assignment/EmployeePosting">New Posting</a></li>
                                    <li><a href="pages-timeline.html">View Place Of Posting</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="/Home/DashBoard"><i class="fa fa-database"></i> <span>Over Due Posting</span></a>
                            </li>
                            <li class="">

                                <a href="/Employee/Assignment/EmployeePosting"><i class="fa fa-telegram"></i> <span>New Posting</span></a>

                            </li>
                            <li class="">
                                <a href="/Home/DashBoard"><i class="fa fa-sitemap"></i> <span>Organogram</span></a>
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-cubes"></i> <span>Postition Vacancy</span></a>
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-users"></i> <span>User Mangement</span></a>
                            </li>
                            <li class="">
                                <a href="/Employee/Assignment/AssignmentMaster"><i class="fa fa-users"></i> <span>Posted Officers' List</span></a>
                            </li>
                            <li class="">
                                <a href="/Employee/Assignment/AssignmentPostMaster"><i class="fa  fa-wheelchair"></i> <span>Waiting Posted Officers' List</span></a>
                            </li>
                            <li class="">
                                <a href="/Employee/Assignment/AssignmentMasterApprove"><i class="fa  fa-arrows"></i> <span>Approved Posted Officers' List</span></a>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/AssignmentReturnList"><i class="fa fa-chevron-left"></i> <span>Return List</span></a>
                            </li>
                        }
                        else if (user == "IGP")
                        {
                            <li class="active">
                                <a href="/Home/DashBoard"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                            </li>
                            <li class="">
                                <a href="/Employee/Assignment/AssignmentPostMaster"><i class="fa  fa-wheelchair"></i> <span>Waiting Posted Officers' List</span></a>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/AssignmentMasterApprove"><i class="fa  fa-arrows"></i> <span>Approved Posted Officers' List</span></a>
                            </li>
                        }
                        @*else if (emp.roleName == "Admin")
                        {
                            <li class="active">
                                <a href="/Home/DashBoard"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                            </li>
                            <li class="menu-list">
                                <a href="/Home/DashBoard"><i class="fa fa-database"></i> <span>Over Due Posting</span></a>
                            </li>
                            <li class="">

                                <a href="/Employee/Assignment/EmployeePosting"><i class="fa fa-telegram"></i> <span>New Posting</span></a>

                            </li>
                            <li class="">
                                <a href="/Home/DashBoard"><i class="fa fa-sitemap"></i> <span>Organogram</span></a>
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-cubes"></i> <span>Postition Vacancy</span></a>
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-users"></i> <span>User Mangement</span></a>
                                <ul class="child-list">
                                    <li><a href="~/Employee/UserInfo/UserList">User</a></li>
                                    <li><a href="~/Auth/Account/UserRoleCreate">User Role</a></li>
                                    <li><a href="~/Auth/Account/AssaignRoleToUser">User Role Assign</a></li>
                                    <li><a href="~/Auth/Account/UserRegister">User Registration</a></li>
                                    <li><a href="~/Portfolio/PortfolioDashboard/index">Portfolio Dashboard</a></li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/EnrollFrezzList"><i class="fa fa-bandcamp"></i> <span>Officers' Freez List</span></a>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/AssignmentMaster"><i class="fa fa-users"></i> <span>Posted Officers' List</span></a>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/AssignmentPostMaster"><i class="fa  fa-wheelchair"></i> <span>Waiting Posted Officers' List</span></a>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/AssignmentReturnList"><i class="fa fa-chevron-left"></i> <span>Return List</span></a>
                            </li>

                            <li class="">
                                <a href="/Employee/Assignment/AssignmentMasterApprove"><i class="fa  fa-arrows"></i> <span>Approved Posted Officers' List</span></a>
                            </li>
                        }*@

                    }






                </ul><!--sidebar nav end-->
            </div>
        </div><!-- sidebar left end-->
        <div class="body-content">
            <!-- header section start-->
            <div class="header-section">
                <!--logo and logo icon start-->
                <div class="logo">
                    <a href="/">
                        <span class="logo-img">
                            <img src="~/logo/goldPolice.PNG" style="width:50px;height:50px;" />

                        </span>
                        <!--<i class="fa fa-maxcdn"></i>-->
                        @*<span class="brand-name">ALPHA Management</span>*@
                    </a>
                </div>

                <!--toggle button start-->
                <a class="toggle-btn" id="toggleBtnMenu"><i class="ti ti-menu"></i></a>
                <!--toggle button end-->
                <!--mega menu start-->
                <div id="navbar-collapse-1" class="navbar-collapse collapse mega-menu">
                    <ul class="nav navbar-nav">


                        @*<li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>*@
                        <li class="search-content">
                            <img src="~/logo/PHQ_logo.PNG" style="width:50px;height:50px;" />
                        </li>

                        @*<li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>*@

                        <li class="search-content">
                            <h1 class="text-center" style="color:#101636;font-family: 'Orbitron', cursive;">Alpha Management</h1>
                        </li>
                        <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
                        <li style="margin-left:100%">
                            <form class="search-content" action="index.html" method="post">
                                <input type="text" class="form-control mt-3" name="keyword" placeholder="Search...">
                                <span class="search-button"><i class="ti ti-search"></i></span>
                            </form>
                        </li>

                    </ul>
                </div>
                <!--mega menu end-->

                <div class="notification-wrap">
                    <!--right notification start-->
                    <div class="right-notification">
                        <ul class="notification-menu">
                            <li>
                                <a href="javascript:;" data-toggle="modal" data-target="#logoutModal">
                                    @*@if (emp?.imageUrl == null || emp?.imageUrl == "")
                                    {
                                        <img src="~/images/users/userImage.jpg" alt="" class="img-fluid rounded-circle" style="height:40px;width:40px;">

                                    }
                                    else
                                    {
                                        <img src="http://103.95.38.230/@emp?.imageUrl" alt="" class="img-fluid rounded-circle" style="height:40px;width:40px;">
                                    }*@
                                </a>
                                @*<div class="dropdown-menu dropdown-menu-right profile-menu" >
                                        <a class="dropdown-item" href="/Auth/Account/Logout"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                                    </div>*@
                            </li>
                            @*<li>
                                    <div class="sb-toggle-right">
                                        <i class="mdi mdi-apps"></i>
                                    </div>
                                </li>*@
                        </ul>
                    </div><!--right notification end-->
                </div>
            </div>
            <!-- header section end-->

            <div class="container-fluid">
                @*<partial name="_CookieConsentPartial" />*@
                @RenderBody()
            </div><!--end container-->
            <!--footer section start-->
            <footer class="footer">
                @DateTime.Now.Year &copy; OPUS TECHNOLOGY LTD.
            </footer>
            <!--footer section end-->
            <!-- Right Slidebar start -->
            <div class="sb-slidebar sb-right sb-style-overlay" style="margin-top: 60px;">
                <div class="right-bar slimscroll">
                    <div class="col-12 text-center fixed-top" style="background-color:#2d3540;color:white">
                        <span class="r-close-btn sb-close" id="btnSlideClose" style="display:none"><i class="fa fa-times"></i></span>
                        <h2 style="font-weight: 700;padding: 5px;">Officers' List</h2>
                    </div>

                    <div class="col-12 pt-5" style="margin-top:30px;">
                        <div class="online-chat">
                            <div class="online-chat-container" style="display:none" id="selEmpDiv">

                                <div class="dd nestable_list_2 nestable-color-2">
                                    <form id="selectedEmpForm">
                                        <div class="col-12" style="padding:0">
                                            <ul class="dd-list" id="selectedEmpList"></ul>
                                        </div>
                                        <input type="submit" class="col-12 btn row fixed-bottom" style="background-color: #2d3540;height: 40px;color: white;font-size: 25px;margin: 0px;margin-bottom: 60px;" value="Assign Posting" />

                                    </form>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!--end Right Slidebar-->................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................

        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <form asp- method="post" asp-area="Auth" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" onclick="ClearLocalStorage()" class="btn btn-success">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--end body content-->
    </section>
    @*<div class="sb-custom-toggle-right sb-custom-toggle-rightArrRem" id="enlistArr" style="">
            <i class="fa fa-chevron-left fa-4x" style="width:10px;color:darkolivegreen;opacity:.3"></i>
        </div>*@
    <style>
        .sb-custom-toggle-rightArr {
            top: 45%;
            position: fixed;
            right: 20.5%;
            z-index: 555;
        }

        .sb-custom-toggle-rightArrRem {
            top: 50%;
            position: fixed;
            right: 1.5%;
            z-index: 555;
        }

        @@media (max-width: 480px) { /* Slidebar width on extra small screens. */
            .sb-custom-toggle-rightArr {
                top: 60%;
                position: fixed;
                right: 55.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 481px) { /* Slidebar width on small screens. */
            .sb-custom-toggle-rightArr {
                top: 55%;
                position: fixed;
                right: 50.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 768px) { /* Slidebar width on small screens. */
            .sb-custom-toggle-rightArr {
                top: 55%;
                position: fixed;
                right: 45.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 992px) { /* Slidebar width on medium screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 40.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 1000px) { /* Slidebar width on large screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 35.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 1200px) { /* Slidebar width on large screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 31.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 1420px) { /* Slidebar width on large screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 26%;
                z-index: 555;
            }
        }

        @@media (min-width: 1580px) { /* Slidebar width on large screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 24.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 1660px) { /* Slidebar width on large screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 23.5%;
                z-index: 555;
            }
        }

        @@media (min-width: 1900px) { /* Slidebar width on large screens. */
            .sb-custom-toggle-rightArr {
                top: 45%;
                position: fixed;
                right: 20.5%;
                z-index: 555;
            }
        }

        .connectedSortable {
            height: 400px;
        }


        @@media screen and (min-height: 870px) {
            .connectedSortable {
                height: 600px;
            }
        }
    </style>
    @*<div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    <!-- jQuery -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-migrate.js"></script>
    <script src="~/js/modernizr.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/slidebars.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/plugins/timepicker/moment.js"></script>
    <!-- Responsive and datatable js -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="~/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/plugins/nestable/nestable.js"></script>
    <script src="~/js/dropify.min.js"></script>
    <!--app js-->
    <script src="~/js/jquery.app.js"></script>
    <!--Swall-->
    <script src="~/plugins/sweet-alert/sweetalert2.min.js"></script>
    <script src="~/pages/jquery.sweet-alert.init.js"></script>
    <script type="text/javascript" src="~/plugins/parsleyjs/dist/parsley.min.js"></script>

    <script src="~/plugins/chart-js/Chart.bundle.js"></script>
    <script src="~/pages/chartjs-init.js"></script>
    <script src="~/js/jquery.app.js"></script>




    <script type="text/javascript">


        function formatDate(date) {
            date = new Date(date);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate()
            if (day < 10) {
                day = '0' + day
            }
            if (day < 10) {
                month = '0' + month
            }
            return day + "-" + month + "-" + year
        }



        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            //location.reload(true);
        }

        function getCookie(name) {
            var re = new RegExp(name + "=([^;]+)");
            var value = re.exec(document.cookie);
            return (value != null) ? unescape(value[1]) : null;
        }
        setCookie('lang', 'en', 30);

        function fnSelectedEmployee(id, name, empCode, rank, rankId, color, postingPlace) {
            $('#selEmpDiv').show()
            var data = '';
            var check = $(`#slEmpList-${id}`).val();
            if (check == id) {
                $(`#emp-${id}`).hide();
                return false;
            }
            else {
                $(`#emp-${id}`).hide();
                data = `<li class="dd-item" id="slEmp-${id}">
                                            <input type="hidden" name="empId" id="slEmpList-${id}" value="${id}"/>
                                            <input type="hidden" name="empCode" value="${empCode}"/>
                                            <input type="hidden" name="empRank" value="${rankId}"/>
                                            <div class="dd-handle row fontStyle" style="background-color:${color};height: 50px;border-radius: 10px;padding: 0;margin: 0;padding-top: 4px;color: black;font-weight: bold;"><span class="col-11">${name},${empCode},${rank},${postingPlace} </span><span class="col-1 badge float-right" style="background-color: white;color:red; height: 23px;width: 20px;" onclick="removeFromSelectedDiv(${id})"><i class="fa fa-times fa-1x"></i></span></div>
                                        </li>`;
                //var selectedEmpArr = JSON.parse(localStorage.getItem('EmpData') || '[]');
                //selectedEmpArr.push(id);
                //localStorage.setItem('EmpData', JSON.stringify(selectedEmpArr));
            }
            $('#selectedEmpList').append(data)
        }

        function removeFromSelectedDiv(id) {
            $(`#emp-${id}`).show();
            $(`#slEmp-${id}`).remove();
        }

        $('#selectedEmpForm').submit(function (e) {
            var form = $('#selectedEmpForm')
            $.ajax({
                url: '/Employee/Assignment/InListInfo',
                data: form.serialize(),
                type: 'POST',
                success: function (res) {
                    //alert(res)
                    window.location.href = '/Employee/Assignment/EmployeePostingConfirm?refNum=' + res;
                },
                error: function (erro) {
                    console.log(erro);
                    //swal('', 'Unable to Save!', 'warning');
                }
            });
        })

        jQuery(document).ready(function ($) {
            //var empList = localStorage.getItem('EmpData');
            //var newEmpList = empList.replace('[', '').replace(']','');
            //var eList = newEmpList.split(',');
            //$.each(eList, function (i, v) {
            //    Common.Ajax('GET', '/Employee/EmployeeInfo/EmployeeInfoById/' + v, [], 'json', ajaxEmployeeInfo, false);
            //});

            var lang = getCookie('lang');
            //if (lang == 'en') {
            //    $('#lanBAN').html('বাংলা');
            //} else {
            //    $('#lanBAN').html('ENG');
            //}

            //$('#lanBAN').click(function () { setCookie('lang', 'bn', 30); });
            $('#lanBAN').change(function () {
                if (lang == 'en') {
                    setCookie('lang', 'bn', 30);
                    $('#lnEnglish').html('বাংলা');
                    $('#lnBangla').html('English');
                } else {
                    setCookie('lang', 'en', 30);
                    $('#lnBangla').html('বাংলা');
                    $('#lnEnglish').html('English');
                }

            });


            var body = jQuery('body');
            body.addClass('sidebar-collapsed');
            jQuery('.side-navigation ul').attr('style', '');

            $("#toggleBtnMenu").click(function () {
                body.toggleClass('sidebar-collapsed');
                //$("p").toggleClass("main");
            });

        });

        function ajaxEmployeeInfo(responce) {
            //$('#selectedEmpList').append(`<li>${responce.employeeCode}</li>`);

        }

        function ajaxEmployeeProfile(res) {
            //console.log(res);
            $('#sEmpName').html(res.employeeInfo?.nameEnglish);
            $('#sEmpBP').html(res.employeeInfo?.employeeCode);
            $('#sEmpRank').html(res.employeeInfo?.rank?.rankName);
            $('#joiningDate').html(formatDate(res.employeeInfo?.joiningDatePresentWorkstation));
            $('#bCSBatch').html(res.employeeInfo?.BCSBatches?.batchName);
            $('#homeDistrict').html(res.addressInformation?.District?.districtName);
            $('#education').html(res.educationalQualifications?.degree?.degreeName);
            alert(res.photograph?.url);
            if (res.photograph?.url == '' || res.photograph?.url == null || res.photograph?.url == 'undefined') {
                $('#sEmpImage').attr('src', '~/' + res.photograph?.url);
            } else {
                $('#sEmpImage').attr('src', '~/images/users/userImage.jpg');
            }

            //console.log(res);
        }

                            //$('.clsEmpId').click(function () {
                            //    alert()
                            //})
    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>
